.naan{
    color: brown;
}

p{
    color: brown;
}
.blog{
    color: black;
}

body{
    background-color:burlywood;

}


img{
    border: 12px blanchedalmond solid;
    border-radius: 30px;

}